<div>
  <div>
    <h1>
      Make #<%= @the_make.id %> details
    </h1>

    <div>
      <div>
        <a href="/makes">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_make/<%= @the_make.id %>">
          Delete make
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Name
      </dt>
      <dd>
        <%= @the_make.name %>
      </dd>

      <dt>
        Webpage
      </dt>
      <dd>
        <%= @the_make.webpage %>
      </dd>

      <dt>
        Logo
      </dt>
      <dd>
        <%= @the_make.logo %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_make.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_make.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit make
    </h2>

    <form action="/modify_make/<%= @the_make.id %>"  method="post" >
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name" value="<%= @the_make.name %>">
      </div>

      <div>
        <label for="webpage_box">
          Webpage
        </label>

        <input type="text" id="webpage_box" name="query_webpage" value="<%= @the_make.webpage %>">
      </div>

      <div>
        <label for="logo_box">
          Logo
        </label>

        <input type="text" id="logo_box" name="query_logo" value="<%= @the_make.logo %>">
      </div>

      <button>
        Update make
      </button>
    </form>
  </div>
</div>

<hr>
