

<script>
  function bindInfoWindow(marker, map, infowindow, html) {
    marker.addListener('click', function() {
        infowindow.setContent(html);
        infowindow.open(map, this);
    });
  } 
</script>

<script>

  var shopBoards = [];
  var individualBoards = [];
  var bothBoards = [];
  var currently = "shops";
  let map;
  function initMap () {
    var mapDiv = document.getElementById('map');

    map = new google.maps.Map(mapDiv);

    var bounds = new google.maps.LatLngBounds();
    <% if @search %>
      <% @individual_board_locations.each do |loc_id, boards| %>

        contentStr = "<h5><%= boards[0].owner.name%></h5>" + "<ul>";
        <% boards.each do |board| %>
          contentStr += "<li><%= board.length_str%> <%= board.model.make.name%> <%= board.model.name%></li>";
          
        <% end %>
        contentStr += "</ul>";

        var infowindow = new google.maps.InfoWindow({
          content: contentStr
        });
        
        var marker = new google.maps.Marker({
          position: {lat: <%= boards[0].owner.lat%>, lng: <%= boards[0].owner.lon%>}, 
          label: '<%= boards.count.to_s%>'
        });
        bindInfoWindow(marker, map, infowindow, contentStr);

        indvidualBoards.push(marker);
        bothBoards.push(marker);
      <% end %>

      <% @shop_board_locations.each do |loc_id, boards| %>

        contentStr = '<h5><a href="/shops/<%=  loc_id%>"><%= boards[0].owner.name%></a></h5><ul>';
        <% boards.each do |board| %>
          contentStr += "<li> <%= board.length_str %> <%= board.model.make.name %>  <%= board.model.name %></li>";
        <% end %>
        contentStr += "</ul>";

        var infowindow = new google.maps.InfoWindow({
          content: contentStr
        });
        
        var marker = new google.maps.Marker({
          position: {lat: <%= boards[0].owner.lat%>, lng: <%= boards[0].owner.lon%>}, 
          label: '<%= boards.count.to_s%>'
        });

        bindInfoWindow(marker, map, infowindow, contentStr);
        
        shopBoards.push(marker);
        bothBoards.push(marker);
      <% end %>
    <% end %>
    var bounds = new google.maps.LatLngBounds();
    for (var i = 0; i < bothBoards.length; i++) {
      bounds.extend(bothBoards[i].getPosition());
    }
    
    map.fitBounds(bounds);

    addMarkers(shopBoards);
  }
  
  function addMarkers(arr) {
    for (let i = 0; i < arr.length; i++) {
      arr[i].setMap(map);
    }
  }
  function removeMarkers(arr){
    for (let i = 0; i < arr.length; i++) {
      arr[i].setMap(null);
    }
  }
  function changeMarkers(which) {
    if (which == "shops") {
      if (currently == "both") {
        removeMarkers(bothBoards);
        addMarkers(shopBoards);
      } else if (currently == "individuals") {
        removeMarkers(individualBoards);
        addMarkers(shopBoards);
      }
      currently = "shops";
    } else if (which == "individuals") {
      if (currently == "both") {
        removeMarkers(bothBoards);
        addMarkers(individualBoards);
      } else if (currently == "shops") {
        removeMarkers(shopBoards);
        addMarkers(individualBoards);
      }
      currently = "individuals";
    } else if (which == "both") {
      if (currently == "shops") {
        removeMarkers(shopBoards);
        addMarkers(bothBoards);
      } else if (currently == "individuals") {
        removeMarkers(individualBoards);
        addMarkers(bothBoards);
      }
      currently = "both";
    }
  }

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV.fetch("MAPS_KEY")%>&callback=initMap"
async defer></script>

<script>
  $(document).ready(function() {
    $('#example').DataTable();
  });
</script>

<script>
  window.onload = function () {
    <% if !@search %>
    var buttons = document.getElementsByClassName("data-button");
    for (var i = 0; i < buttons.length; i++) {
      buttons[i].disabled = true;
      buttons[i].className = "btn btn-secondary data-button"
    }
    document.getElementById("mapDiv").className = "d-none";
    document.getElementById("listDiv").className = "d-none";
    document.getElementById("cardDiv").className = "d-none";
    document.getElementById("blankDiv").className = "h-100"
    <% end %>
  };
</script>

<% if @current_user != nil %>
  <div class="w=100 text-center">
    <h2>Boards for you!</h2>
  </div>
<% end %>
<div class="d-flex flex-row h-100" style="overflow:hidden">
  
    <div class="col-3" style="overflow-y:scroll">
      <div class="text-center align-middle p-2">
        <h3>Board Search</h3>
      </div>
      <div>
        <form action="/results">
          <div id="accordion" role="tablist">
            <div class="card">
              <div class="card-header" role="tab" id="headingShaper">
                <h5 class="mb-0">
                  <a data-toggle="collapse" href="#collapseShaper" aria-expanded="true" aria-controls="collapseShaper">
                    Shaper/Model
                  </a>
                </h5>
              </div>

              <div id="collapseShaper" class="collapse" role="tabpanel" aria-labelledby="headingShaper">
                <div class="card-body">
                  <div class="form-group">
                    <label for="make">Make</label>
                    <select class="form-select form-control" id="make" name="make" aria-label="Choose Make" onchange="displayModels()">
                      <option selected value="-1">...</option>
                      <% @makes.each do |brand|%>
                        <option value="<%= brand.id%>"><%= brand.name %></option>
                      <% end %>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="model">Model</label>
                    <select class="form-select form-control" id="model" name="model" aria-label="Choose Model" disabled>
                      <option value="-1" selected>...</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" role="tab" id="headingDims">
                <h5 class="mb-0">
                  <a class="collapsed" data-toggle="collapse" href="#collapseDims" aria-expanded="false" aria-controls="collapseDims">
                    Dimensions
                  </a>
                </h5>
              </div>
              <div id="collapseDims" class="collapse" role="tabpanel" aria-labelledby="headingDims">
                <div class="card-body">
                  <div class="form-group">
                    <div class="custom-control custom-checkbox m-2">
                      <input type="checkbox" class="custom-control-input" id="length" name="length" value="1" onclick="enableRangeField('length')">
                      <label class="custom-control-label" for="length">Length</label>
                    </div>
                    <label for="min_length" id="min_length_label">Minimum: 5'0"</label>
                    <input type="range" class="custom-range" min="48" max="72" step="1" value="60" id="min_length" name="min_length" onchange="sliderChange('length', 'min')" disabled>
                    <label for="max_length" id="max_length_label">Maximum: 6'0"</label>
                    <input type="range" class="custom-range" min="72" max="120" step="1" value="72" id="max_length" name="max_length" onchange="sliderChange('length', 'max')" disabled>
                  </div>
                  <hr>

                  <div class="form-group">
                    <div class="custom-control custom-checkbox m-2">
                      <input type="checkbox" class="custom-control-input" id="width" name="width" value="1" onclick="enableRangeField('width')">
                      <label class="custom-control-label" for="width">Width</label>
                    </div>
                    <label for="min_width" id="min_width_label">Minimum: 18 1/4</label>
                    <input type="range" class="custom-range" min="272" max="300" step="1" value="292" id="min_width" name="min_width" onchange="sliderChange('width', 'min')" disabled>
                    <label for="max_width" id="max_width_label">Maximum: 18 3/8</label>
                    <input type="range" class="custom-range" min="292" max="384" step="1" value="300" id="max_width" name="max_width" onchange="sliderChange('width', 'max')" disabled>
                  </div>
                  <hr>

                  <div class="form-group">
                    <div class="custom-control custom-checkbox m-2">
                      <input type="checkbox" class="custom-control-input" id="thickness" name="thickness" value="1" onclick="enableRangeField('thickness')">
                      <label class="custom-control-label" for="thickness">Thickness</label>
                    </div>
                    <label for="min_thickness" id="min_thickness_label">Minimum: 2 1/4</label>
                    <input type="range" class="custom-range" min="32" max="44" step="1" value="36" id="min_thickness" name="min_thickness" onchange="sliderChange('thickness', 'min')" disabled>
                    <label for="max_thickness" id="max_thickness_label">Maximum: 2 3/4</label>
                    <input type="range" class="custom-range" min="36" max="64" step="1" value="44" id="max_thickness" name="max_thickness" onchange="sliderChange('thickness', 'max')" disabled>
                  </div>
                  <hr>

                  <div class="form-group">
                    <div class="custom-control custom-checkbox m-2">
                      <input type="checkbox" class="custom-control-input" id="volume" name="volume" value="1" onclick="enableRangeField('volume')">
                      <label class="custom-control-label" for="volume">Volume</label>
                    </div>
                    <label for="min_volume" id="min_volume_label">Minimum: 20 L</label>
                    <input type="range" class="custom-range" min="17" max="30" step="0.1" value="20" id="min_volume" name="min_volume" onchange="sliderChange('volume', 'min')" disabled>
                    <label for="max_volume" id="max_volume_label">Maximum: 30 L</label>
                    <input type="range" class="custom-range" min="20" max="60" step="0.1" value="30" id="max_volume" name="max_volume" onchange="sliderChange('volume', 'max')" disabled>
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" role="tab" id="headingPrice">
                <h5 class="mb-0">
                  <a data-toggle="collapse" href="#collapsePrice" aria-expanded="false" aria-controls="collapsePrice">
                    Price/Condition
                  </a>
                </h5>
              </div>

              <div id="collapsePrice" class="collapse" role="tabpanel" aria-labelledby="headingPrice">
                <div class="card-body">
                  <div class="form-group">
                    <div class="custom-control custom-checkbox m-2">
                      <input type="checkbox" class="custom-control-input" id="price" name="price" value="1" onclick="enableRangeField('price')">
                      <label class="custom-control-label" for="price">Price</label>
                    </div>
                    <label for="min_price" id="min_price_label">Minimum: $400</label>
                    <input type="range" class="custom-range" min="0" max="800" step="1" value="400" id="min_price" name="min_price" onchange="sliderChange('price', 'min')" disabled>
                    <label for="max_price" id="max_price_label">Maximum: $800</label>
                    <input type="range" class="custom-range" min="400" max="2000" step="1" value="800" id="max_price" name="max_price" onchange="sliderChange('price', 'max')" disabled>
                  </div>
                  <hr>
                  <div class="form-group">
                    <label for="condition">Condition</label>
                    <select class="form-select form-control" id="condition" name="condition" aria-label="Choose Condition">
                      <option value="-1" selected>Any</option>
                      <option value="0">Damaged</option>
                      <option value="1">Used</option>
                      <option value="2">Like New</option>
                      <option value="3">New</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" role="tab" id="headingLocation">
                <h5 class="mb-0">
                  <a data-toggle="collapse" href="#collapseLocation" aria-expanded="false" aria-controls="collapseLocation">
                    Location
                  </a>
                </h5>
              </div>

              <div id="collapseLocation" class="collapse" role="tabpanel" aria-labelledby="headingLocation">
                  <div class="card-body">
                    
                    <div class="form-group">
                      <label for="driving_time">Driving time</label>
                      <select class="form-select form-control" id="driving_time" name="driving_time" aria-label="Choose Driving Time">
                        <option value="-1">Any</option>
                        <option value="21600">Less than 6 hours</option>
                        <option value="7200">Less than 2 hours</option>
                        <option value="3600">Less than 1 hour</option>
                        <option value="1800">Less than 30 minutes</option>
                        <option value="900">Less than 15 minutes</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="address">From address</label>
                      <input type="text" id="address" name="address" class="form-control">
                    </div>
                  </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" role="tab" id="headingOther">
                <h5 class="mb-0">
                  <a data-toggle="collapse" href="#collapseOther" aria-expanded="false" aria-controls="collapseOther">
                    Other
                  </a>
                </h5>
              </div>

              <div id="collapseOther" class="collapse" role="tabpanel" aria-labelledby="headingOther">
                <div class="card-body">
                  <div class="form-group">
                    <label for="tail">Tail Shape</label>
                    <select class="form-select form-control" id="tail" name="tail" aria-label="Choose Tail">
                      <option value="-1" selected>Any</option>
                      <option value="0">Squash</option>
                      <option value="1">Square</option>
                      <option value="2">Round</option>
                      <option value="3">Pin</option>
                      <option value="4">Swallow</option>
                      <option value="5">Bat</option>
                      <option value="6">Diamond</option>
                    </select>
                  </div>
                  <hr>
                  <div class="form-group">
                    <label for="fin_config">Fin Configuration</label>
                    <select class="form-select form-control" id="fin_config" name="fin_config" aria-label="Choose Fin Config">
                      <option value="-1" selected>Any</option>
                      <option value="0">3 fin</option>
                      <option value="1">5 fin</option>
                      <option value="2">Twin</option>
                      <option value="3">Single Fin</option>
                      <option value="4">2+1</option>
                      <option value="5">Asymmetric</option>
                      <option value="6">Other</option>
                    </select>
                  </div>
                  <hr>
                  <div class="form-group">
                    <label for="fin_system">Fin System</label>
                    <select class="form-select form-control" id="fin_system" name="fin_system" aria-label="Choose Fin System">
                      <option value="-1" selected>Any</option>
                      <option value="0">FCS</option>
                      <option value="1">Futures</option>
                      <option value="2">Glass-on</option>
                      <option value="3">Other</option>
                    </select>
                  </div>
                  <hr>
                  <div class="form-group">
                    <label for="construction">Construction</label>
                    <select class="form-select form-control" id="construction" name="construction" aria-label="Choose Construction">
                      <option value="-1" selected>Any</option>
                      <option value="0">PU</option>
                      <option value="1">EPS</option>
                      <option value="2">Wood</option>
                      <option value="3">Other</option>
                    </select>
                  </div>
                  <hr>
                  <div class="form-group">
                    <div class="custom-control custom-switch">
                      <input type="checkbox" value="1" class="custom-control-input" id="artwork">
                      <label class="custom-control-label" for="artwork">Must have non-stock graphics</label>
                    </div>
                  </div>
                </div>
              </div>
          </div>
          <div class="p-2">
            <button type="submit" class="btn btn-primary btn-block">Search</button>
          </div>
        </form>
      </div>
    </div>
    </div>
    <div class="col border d-flex flex-column p-2" style="overflow:hidden">
      <div class="d-flex p-2 border">
        <div class="flex-grow-1">
          <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" id="shopsButton" class="btn btn-primary data-button" onclick="sellerButtons('shops')">Shops</button>
            <button type="button" id="individualsButton" class="btn btn-secondary data-button" onclick="sellerButtons('individuals')">Individuals</button>
            <button type="button" id="bothButton" class="btn btn-secondary data-button" onclick="sellerButtons('both')">Both</button>
          </div>
        </div>
        <div>
          <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" id="mapButton" class="btn btn-primary data-button" onclick="displayButtons('map')">Map</button>
            <button type="button" id="listButton" class="btn btn-secondary data-button" onclick="displayButtons('list')">List</button>
            <button type="button" id="cardButton" class="btn btn-secondary data-button" onclick="displayButtons('card')">Cards</button>
          </div>
        </div>
      </div>
      <div class="flex-grow-1" style="overflow:hidden">
        <div id="mapDiv" class="bg-primary h-100">
          <div id="map" class="h-100 w-100"></div>
        </div>
        <div id="listDiv" class="h-100 d-none">
          <link href=https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css rel=stylesheet>
          <link href=https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.20/css/dataTables.bootstrap4.min.css rel=stylesheet>
          <div class=container-fluid>
            <table cellspacing=0 class="table table-bordered table-hover table-inverse table-striped"id=example width=100%>
              <thead>
                <tr>
                  <th></th>
                  <th>Shaper</th>
                  <th>Model</th>
                  <th>Length</th>
                  <th>Width</th>
                  <th>Thickness</th>
                  <th>Volume</th>
                  <th>Seller</th>
                  <th>Price</th>
                  <th></th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th></th>
                  <th>Shaper</th>
                  <th>Model</th>
                  <th>Length</th>
                  <th>Width</th>
                  <th>Thickness</th>
                  <th>Volume</th>
                  <th>Seller</th>
                  <th>Price</th>
                  <th></th>
                </tr>
              </tfoot>
              <tbody>
                <% @boards.each do |board|%>
                <% if board.owner_is_shop %>
                <tr class="shop-board">
                <% else %>
                <tr class="individual-board d-none">
                <% end %>
                  <td><a class="btn btn-primary" href="/boards/<%= board.id%>">Details</a>
                  <td><%= board.make.name %></td>
                  <td><%= board.model.name %></td>    
                  <td><%= board.length_str %></td>
                  <td><%= board.width_str %></td>
                  <td><%= board.thickness_str %></td>
                  <td><%= board.liters %></td>
                  <% if board.owner_is_shop %>             
                  <td><a href="/shops/<%= board.owner.id%>"><%= board.owner.name %></a></td>
                  <% else %>
                  <td><%= board.owner.first_name + " " + board.owner.last_name %></td>
                  <% end %>
                  <td>$<%= board.price %></td>
                  <td>
                    <% if @current_user != nil %>
                      <% if @bookmarks.include?(board.id) %>
                      <button type="button" id="list_bookmark_<%= board.id%>" class="btn btn-primary saved" onclick="listBookmark('<%= board.id%>', '<%= @current_user.id%>')">Un-save Board</button>
                      <% else %>
                      <button type="button" id="list_bookmark_<%= board.id%>" class="btn btn-success unsaved" onclick="listBookmark('<%= board.id%>', '<%= @current_user.id%>')">Save Board</button>
                      <% end %>
                    <% else %>
                      <button type="button" class="btn btn-success" data-toggle="modal" data-target="#bookmarkModal">Save Board</button>
                    <% end %>
                  </td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
              <script src=https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js></script><script src=https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.20/js/jquery.dataTables.min.js></script><script src=https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.20/js/dataTables.bootstrap4.min.js></script>
        </div>
        <div id="cardDiv" class="h-100 d-none" style="overflow:hidden">
        <% (1..(@boards.count/25).ceil).each do |n| %>
          <% if n == 1%>
          <div class="d-flex flex-row flex-wrap justify-content-around cardsPage active" id="cardsPage<%= n.to_s%>" style="overflow-y:scroll">
          <% else %>
          <div class="d-none cardsPage" id="cardsPage<%= n.to_s%>" style="overflow-y:scroll">
          <% end %>
            <% @boards[(n-1)*25..n*25].each do |board| %>
            <% if board != nil %>
              <% if board.owner_is_shop %>
              <div class="card shop-board">
              <% else %>
              <div class="card individual-board d-none">
              <% end %>
                <div class="card-header d-flex flex-row">
                  <h4 class="flex-grow-1 align-self-center"><%= board.length_str + " " + board.model.name %></h4>
                  <% if @current_user != nil %>
                    <% if @bookmarks.include?(board.id) %>
                    <button class="btn-primary align-self-center saved" id="card_bookmark_<%= board.id%>" style="width:30px;height:30px;border-radius:15px;outline:none" onclick="cardBookmark('<%= board.id%>', '<%= @current_user.id%>')">-</button>
                    <% else %>
                    <button class="btn-success align-self-center unsaved" id="card_bookmark_<%= board.id%>" style="width:30px;height:30px;border-radius:15px;outline:none" onclick="cardBookmark('<%= board.id%>', '<%= @current_user.id%>')">+</button>
                    <% end %>
                  <% else %>
                    <button class="btn-success align-self-center" style="width:30px;height:30px;border-radius:15px;outline:none" class="btn btn-success" data-toggle="modal" data-target="#bookmarkModal">+</button>
                  <% end %>
                </div>
                <img src="<%= board.model.image%>" alt="Card image" style="height:400px;width:auto">
                <div class="card-body">
                  <p class="card-text">Board details.</p>
                </div>
              </div>
              <% end %>
            <% end %>
          </div>
          <% end %>
          <div class="h-10">
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                <li class="page-item">
                  <button class="page-link" onclick="paginateCards(-2)" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                  </button>
                </li>
                <% (1..(@boards.count/25).floor).each do |n| %>
                  <% if n == 1%>
                  <li class="page-item cardsButton active" id="page_button_<%= n.to_s%>"><button class="page-link" onclick="paginateCards(<%= n%>)"><%= n.to_s%></button></li>
                  <% else %>
                  <li class="page-item cardsButton" id="page_button_<%= n.to_s%>"><button class="page-link" onclick="paginateCards(<%= n%>)"><%= n.to_s%></button></li>
                  <% end %>
                <% end %>
                <li class="page-item">
                  <button class="page-link" aria-label="Next" onclick="paginateCards(-1)">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                  </button>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <div id="blankDiv" class="h-100 d-none">
          <h1>Choose some filters!</h1>
        </div>
      </div>
    </div>
  
</div>

