<div>
  <div>
    <h1>
      Board #<%= @the_board.id %> details
    </h1>

    <div>
      <div>
        <a href="/boards">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_board/<%= @the_board.id %>">
          Delete board
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Model
      </dt>
      <dd>
        <%= @the_board.model_id %>
      </dd>

      <dt>
        Length
      </dt>
      <dd>
        <%= @the_board.length %>
      </dd>

      <dt>
        Width
      </dt>
      <dd>
        <%= @the_board.width %>
      </dd>

      <dt>
        Thickness
      </dt>
      <dd>
        <%= @the_board.thickness %>
      </dd>

      <dt>
        Liters
      </dt>
      <dd>
        <%= @the_board.liters %>
      </dd>

      <dt>
        Tail
      </dt>
      <dd>
        <%= @the_board.tail %>
      </dd>

      <dt>
        Fin config
      </dt>
      <dd>
        <%= @the_board.fin_config %>
      </dd>

      <dt>
        Fin system
      </dt>
      <dd>
        <%= @the_board.fin_system %>
      </dd>

      <dt>
        Construction
      </dt>
      <dd>
        <%= @the_board.construction %>
      </dd>

      <dt>
        Image
      </dt>
      <dd>
        <%= @the_board.image %>
      </dd>

      <dt>
        Shop
      </dt>
      <dd>
        <%= @the_board.shop_id %>
      </dd>

      <dt>
        Individual
      </dt>
      <dd>
        <%= @the_board.individual_id %>
      </dd>

      <dt>
        Owner is shop
      </dt>
      <dd>
        <%= @the_board.owner_is_shop %>
      </dd>

      <dt>
        Condition
      </dt>
      <dd>
        <%= @the_board.condition %>
      </dd>

      <dt>
        Artwork
      </dt>
      <dd>
        <%= @the_board.artwork %>
      </dd>

      <dt>
        Price
      </dt>
      <dd>
        <%= @the_board.price %>
      </dd>

      <dt>
        Notes
      </dt>
      <dd>
        <%= @the_board.notes %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_board.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_board.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit board
    </h2>

    <form action="/modify_board/<%= @the_board.id %>"  method="post" >
      <div>
        <label for="model_id_box">
          Model
        </label>

        <input type="text" id="model_id_box" name="query_model_id" value="<%= @the_board.model_id %>">
      </div>

      <div>
        <label for="length_box">
          Length
        </label>

        <input type="text" id="length_box" name="query_length" value="<%= @the_board.length %>">
      </div>

      <div>
        <label for="width_box">
          Width
        </label>

        <input type="text" id="width_box" name="query_width" value="<%= @the_board.width %>">
      </div>

      <div>
        <label for="thickness_box">
          Thickness
        </label>

        <input type="text" id="thickness_box" name="query_thickness" value="<%= @the_board.thickness %>">
      </div>

      <div>
        <label for="liters_box">
          Liters
        </label>

        <input type="text" id="liters_box" name="query_liters" value="<%= @the_board.liters %>">
      </div>

      <div>
        <label for="tail_box">
          Tail
        </label>

        <input type="text" id="tail_box" name="query_tail" value="<%= @the_board.tail %>">
      </div>

      <div>
        <label for="fin_config_box">
          Fin config
        </label>

        <input type="text" id="fin_config_box" name="query_fin_config" value="<%= @the_board.fin_config %>">
      </div>

      <div>
        <label for="fin_system_box">
          Fin system
        </label>

        <input type="text" id="fin_system_box" name="query_fin_system" value="<%= @the_board.fin_system %>">
      </div>

      <div>
        <label for="construction_box">
          Construction
        </label>

        <input type="text" id="construction_box" name="query_construction" value="<%= @the_board.construction %>">
      </div>

      <div>
        <label for="image_box">
          Image
        </label>

        <input type="text" id="image_box" name="query_image" value="<%= @the_board.image %>">
      </div>

      <div>
        <label for="shop_id_box">
          Shop
        </label>

        <input type="text" id="shop_id_box" name="query_shop_id" value="<%= @the_board.shop_id %>">
      </div>

      <div>
        <label for="individual_id_box">
          Individual
        </label>

        <input type="text" id="individual_id_box" name="query_individual_id" value="<%= @the_board.individual_id %>">
      </div>

      <div>
        <input type="checkbox" id="owner_is_shop_box" name="query_owner_is_shop" value="1" <%= "checked" if @the_board.owner_is_shop %>>

        <label for="owner_is_shop_box">
            Owner is shop
        </label>
      </div>

      <div>
        <label for="condition_box">
          Condition
        </label>

        <input type="text" id="condition_box" name="query_condition" value="<%= @the_board.condition %>">
      </div>

      <div>
        <input type="checkbox" id="artwork_box" name="query_artwork" value="1" <%= "checked" if @the_board.artwork %>>

        <label for="artwork_box">
            Artwork
        </label>
      </div>

      <div>
        <label for="price_box">
          Price
        </label>

        <input type="text" id="price_box" name="query_price" value="<%= @the_board.price %>">
      </div>

      <div>
        <label for="notes_box">
          Notes
        </label>

        <textarea id="notes_box" name="query_notes"><%= @the_board.notes %></textarea>
      </div>

      <button>
        Update board
      </button>
    </form>
  </div>
</div>

<hr>
