<div>
  <div>
    <h1>
      List of all distances
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new distance
    </h2>

    <form action="/insert_distance" method="post">
      <div>
        <label for="origin_box">
          Origin
        </label>

        <input type="text" id="origin_box" name="query_origin">
      </div>

      <div>
        <label for="destination_box">
          Destination
        </label>

        <input type="text" id="destination_box" name="query_destination">
      </div>

      <div>
        <label for="distance_box">
          Distance
        </label>

        <input type="text" id="distance_box" name="query_distance">
      </div>

      <div>
        <label for="duration_box">
          Duration
        </label>

        <input type="text" id="duration_box" name="query_duration">
      </div>

      <button>
        Create distance
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table>
      <tr>
        <th>
          ID
        </th>

        <th>
          Origin
        </th>

        <th>
          Destination
        </th>

        <th>
          Distance
        </th>

        <th>
          Duration
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_distances.each do |a_distance| %>
      <tr>
        <td>
          <%= a_distance.id %>
        </td>

        <td>
          <%= a_distance.origin %>
        </td>

        <td>
          <%= a_distance.destination %>
        </td>

        <td>
          <%= a_distance.distance %>
        </td>

        <td>
          <%= a_distance.duration %>
        </td>

        <td>
          <%= time_ago_in_words(a_distance.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_distance.updated_at) %> ago
        </td>

        <td>
          <a href="/distances/<%= a_distance.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
