<!DOCTYPE html>
<html>
  <head>
    <title>FinalProject</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">
    <!-- Connect Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <!-- Connect Bootstrap JavaScript and its dependencies -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>

    <!-- Connect Font Awesome -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>

  </head>

  <body class="p-2 d-flex flex-column">
    <div class="">
      <div class="d-flex">
        <div class="flex-grow-1 text-center p-2">
          <h1><a href="/">Surf Engine</a></h1>
        </div>
        <div class="d-flex flex-grow-4 p-2">
          <% if @current_user == nil %>
            <a href="/user_sign_in" class="btn btn-primary m-2">Login</a>
            <a href="/user_sign_up" class="btn btn-primary m-2">Sign Up</a>
          <% else %>
            <a href="/user/<%= @current_user.id%>" class="btn btn-primary m-2">Profile</a>
            <a href="/user_sign_out" class="btn btn-primary m-2">Log Out</a>
          <% end %>
        </div>
      </div>
      <div class="pos-f-t">
        <nav class="navbar navbar-dark bg-primary">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </nav>
        <div class="collapse" id="navbarToggleExternalContent">
          <div class="bg-dark p-4">
            <ul>
              <li><h4><a href="/shops">Surf Shops</a></h4></li>
              <li><h4><a href="/makes">Shapers</a></h4></li>
              <li><h4><a href="/about">About Surf Engine</a></h4></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="flex-grow-1 border border-primary">
      <%= yield %>
    </div>
  </body>
</html>
