<!DOCTYPE html>
<html>
  <head>
    <title>FinalProject</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">
    <!-- Connect Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <!-- Connect Bootstrap JavaScript and its dependencies -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <!-- Connect Font Awesome -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'search' %>
    <%= javascript_include_tag 'basic' %>

    <style>
      .modal-backdrop {
          background-color: rgba(0,0,0,.2) !important;
      }
    </style>

  </head>

  <body class="p-2 d-flex flex-column vh-100 border border-primary">
    <div class="">
      <div class="d-flex">
        <% if @current_user != nil%>
          <% if @current_user.employee %>
            <div>       
              <a href="/shops/<%= @current_user.shop_id%>/employee">
              <img src="<%= @current_user.shop.logo%>" style="max-height:200px">
              </a>
            </div>
          <% end %>
        <% end %>
        <div class="flex-grow-1 text-center p-2 align-middle border">
          <% if @current_user != nil %>
            <% if @current_user.employee %>
            <h1><a href="/shops/<%= @current_user.shop_id%>/employee" class="border align-middle">Surf Engine</a></h1>
            <% else %>
            <h1><a href="/" class="border align-middle">Surf Engine</a></h1>
            <% end %>
          <% else %>
          <h1><a href="/" class="border align-middle">Surf Engine</a></h1>
          <% end %>
        </div>
        <div class="flex-grow-4 p-2">
          <% if @current_user == nil %>
            <a href="/user_sign_in" class="btn btn-primary m-2">Login</a>
            <a href="/user_sign_up" class="btn btn-primary m-2">Sign Up</a>
          <% else %>
            <a href="/user/<%= @current_user.id%>" class="btn btn-primary m-2">Profile</a>
            <a href="/user_sign_out" class="btn btn-primary m-2">Log Out</a>
          <% end %>
        </div>
      </div>
      <div class="pos-f-t">
        <nav class="navbar navbar-dark bg-primary">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </nav>
        <div class="collapse" id="navbarToggleExternalContent">
          <div class="bg-dark p-4">
            <ul>
              <li><h4><a href="/shops">Surf Shops</a></h4></li>
              <li><h4><a href="/makes">Shapers</a></h4></li>
              <li><h4><a href="/about">About Surf Engine</a></h4></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="flex-grow-1 border border-primary" style="overflow:hidden">
      <%= yield %>
    </div>
    <div class="modal" id="bookmarkModal" tabindex="-1" role="dialog" aria-labelledby="bookmarkModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="bookmarkModalLabel">You need a profile to save boards!</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            To save boards to your list sign in or sign up for Surf Engine!
          </div>
          <div class="modal-footer">
            <a href="/user_sign_in" class="btn btn-primary">Sign In</a>
            <a href="/user_sign_up" class="btn btn-primary">Sign Up</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
